/* RGB(209,160,120) */

.mainApp {
  background-color: white;
}

.slide-container {
  width: 900px;
  margin: auto;
  height: 630px;
  background-color: white;
}

h3 {
  color: white;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 630px;
  width: 900px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 100%;
  height: 100%;
}

.each-fade .image-container img {
  width: 900px;
  height: 630px;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}
.navBar {
  width: 100%;
  background-color: white;
  color: black;
  font-size: medium;
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
}

.Header {
  display: flex;
  justify-content: center;
  color: white;
  font-size: x-large;
  width: 100%;
}
.navButton {
  width: 90px;
  background-color: white;
  color: black;
  font-size: medium;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.MenuImg {
  height: 400px;
  width: 600px;
  display: flex;
  justify-content: center;
}
.MainHeader {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.logo {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
  .slide-container {
    width: 700px;
    margin: auto;
    height: 500px;
    background-color: black;
  }

  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 500px;
    width: 700px;
  }
  .each-fade .image-container img {
    width: 700px;
    height: 400px;
  }
}

@media only screen and (max-width: 720px) {
  .slide-container {
    width: 600px;
    margin: auto;
    height: 430px;
    background-color: black;
  }

  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-size: ; */
    height: 430px;
    width: 600px;
  }
  .each-fade .image-container img {
    width: 400px;
    height: 330px;
  }
}

@media only screen and (max-width: 620px) {
  .slide-container {
    width: 380px;
    margin: auto;
    height: 300px;
    background-color: black;
  }

  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-size: cover; */
    height: 300px;
    width: 400px;
  }
  .each-fade .image-container img {
    width: 380px;
    height: 280px;
  }
}
.Title {
  justify-content: center;
  display: flex;
}

.offers {
  height: 420px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.homeAlone {
  height: 700px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.shakeItUp {
  height: 25%;
  width: 35%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.waffleWed {
  height: 25%;
  width: 35%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.desserts {
  height: 10%;
  width: 35%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.div1 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.divOne {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.divTwo {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}
.deliveryImg {
  height: 420px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 25%;
  margin-left: 180px;
}
.PhoneImg {
  height: 420px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 25%;
  margin-right: 180px;
  float: right;
}
.deliveryHolder {
  display: flex;
  justify-content: space-between;
}

.deliveryText {
  display: flex;
  justify-content: center;
}

.aboutImg {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.aboutImg1 {
  height: 474px;
  /* 383 */
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about {
  display: flex;
  justify-content: center;
}
.aboutUsText {
  height: 130px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  /* margin-left: 50px;
  margin-right: 50px; */
}
.aboutH2 {
  display: flex;
  justify-content: center;
}
.aboutH2Title {
  display: flex;
  justify-content: center;
  margin-top: 0%;
}
.NewsletterForm {
  display: flex;
  justify-content: center;
}

.Form {
  border: black;
  border-style: double;
  height: 120px;
}
.formOption {
  padding-left: 20px;
  padding-right: 10px;
}
.contactUsForm {
  height: 290px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formButton {
  display: flex;
  justify-content: center;
  padding-top: 1%;
}
.formSubmit {
  justify-content: center;
  width: 100px;
  display: flex;
  float: right;
}
.formComment {
  width: 250px;
  height: 60px;
  text-align: top;
  padding-bottom: 20px;
}
.right {
  display: flex;
  justify-content: center;
  text-align: center;
}
.ordersForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.TC {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 70%;
}
.TCPage {
  display: flex;
  justify-content: center;
  text-align: center;
}
