/* RGB(209,160,120) */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Poppins:wght@500&display=swap");
.mainApp {
  background-color: white;
}
p {
  font-family: "Poppins", sans-serif;
}
.centeredP {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.slide-container {
  width: 900px;
  margin: auto;
  height: 630px;
  background-color: white;
}

h3 {
  color: white;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 630px;
  width: 900px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 100%;
  height: 100%;
}

.each-fade .image-container img {
  width: 900px;
  height: 630px;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}
.navBar {
  width: 100%;
  background-color: black;
  color: white;
  font-size: medium;
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
  text-decoration: none;
  justify-content: center;
  text-decoration-color: black;
}

.navButton {
  width: 100px;
  background-color: black;
  color: white;
  font-size: medium;
  font-weight: 600;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
  text-decoration-color: black;
  border: none;
  outline: none;
}

.navButton:hover {
  color: RGB(209, 160, 120);
}
.navButtonOffers1 {
  width: 120px;
  /* height: 50px; */
  background-color: black;
  color: white;
  font-size: medium;
  font-weight: 600;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  border: black;
  margin-top: 20px;
  margin-left: 240px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navButtonOffers1:hover {
  color: RGB(209, 160, 120);
}
.navButtonOffers {
  width: 100px;
  /* height: 50px; */
  background-color: black;
  color: white;
  font-size: medium;
  font-weight: 600;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  border: black;
  margin-top: 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navButtonOffers:hover {
  color: RGB(209, 160, 120);
}
.navOffersDiv {
  display: flex;
  justify-content: center;
}
.Header {
  display: flex;
  justify-content: center;
  color: white;
  font-size: x-large;
  width: 100%;
}

.MenuImg {
  height: 400px;
  width: 600px;
  display: flex;
  justify-content: center;
}
.MainHeader {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.logo {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
  .slide-container {
    width: 700px;
    margin: auto;
    height: 500px;
    background-color: black;
  }

  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 500px;
    width: 700px;
  }
  .each-fade .image-container img {
    width: 700px;
    height: 400px;
  }
}

@media only screen and (max-width: 720px) {
  .slide-container {
    width: 600px;
    margin: auto;
    height: 430px;
    background-color: black;
  }

  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-size: ; */
    height: 430px;
    width: 600px;
  }
  .each-fade .image-container img {
    width: 400px;
    height: 330px;
  }
}

@media only screen and (max-width: 620px) {
  .slide-container {
    width: 380px;
    margin: auto;
    height: 300px;
    background-color: black;
  }

  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-size: cover; */
    height: 300px;
    width: 400px;
  }
  .each-fade .image-container img {
    width: 380px;
    height: 280px;
  }
}
.Title {
  justify-content: center;
  display: flex;
  font-family: "Poppins", sans-serif;
}

.offers {
  height: 420px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.offersLi {
  text-decoration: none;
  display: flex;
  justify-content: center;
  line-height: 3em;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: large;
}
.offersLiSmallPrint {
  text-decoration: none;
  display: flex;
  flex: end;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  margin-top: 70px;
  font-size: small;
  font-style: italic;
  width: 90%;
}
.offersH2 {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  font-family: "Poppins", sans-serif;
}

.homeAlone {
  height: 700px;
  width: 632px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.shakeItUp {
  height: 25%;
  width: 35%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.waffleWed {
  height: 25%;
  width: 35%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.desserts {
  height: 10%;
  width: 35%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.div1 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.divOne {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.divTwo {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}
.deliveryImg {
  height: 420px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 25%;
  margin-left: 180px;
}
.PhoneImg {
  height: 420px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 25%;
  margin-right: 180px;
  float: right;
}
.deliveryHolder {
  display: flex;
  justify-content: space-between;
}

.deliveryText {
  display: flex;
  justify-content: center;
}

.aboutImg {
  height: 100%;
  width: 50%;
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
}

.aboutImg1 {
  height: 474px;
  /* 383 */
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about {
  display: flex;
  justify-content: center;
}
.aboutUsText {
  height: 420px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 0px;
  margin-left: 25px;
  margin-right: 25px;
}
.aboutUsTextSecondP {
  height: 420px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.aboutH2 {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin-top: 0px;
  color: black;
  font-size: x-large;
}
.aboutH2Title {
  display: flex;
  justify-content: center;
  margin-top: 0%;
  font-family: "Poppins", sans-serif;
}
.aboutH4 {
  margin-bottom: 8px;
  margin-top: 8px;
  font-weight: bolder;
  font-size: x-large;
}
.aboutPhoneNo {
  text-decoration: underline;
  color: black;
}
.NewsletterForm {
  display: flex;
  justify-content: center;
}

.Form {
  border: black;
  border-style: double;
  height: 120px;
}
.formOption {
  padding-left: 20px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.contactUsForm {
  width: 50%;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formButton {
  display: flex;
  justify-content: center;
  padding-top: 1%;
  font-family: "Poppins", sans-serif;
}
.formSubmit {
  justify-content: center;
  width: 100px;
  display: flex;
  float: right;
}
.formComment {
  width: 250px;
  height: 60px;
  text-align: top;
  padding-bottom: 20px;
}
.left {
  display: flex;
  justify-content: center;
  text-align: center;
}
.right {
  display: flex;
  justify-content: center;
  text-align: center;
}
.ordersForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ordersLabel {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
  font-weight: 400;
}
.TC {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 70%;
}
.TCPage {
  display: flex;
  justify-content: center;
  text-align: center;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.desertTiles {
  display: flex;
  justify-content: center;
  /* flex-direction: row;
  /* width: 100px; */
}
.DesertIcons {
  height: 120px;
  width: 120px;
  grid-area: one;
  justify-content: center;
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 50%;
  margin-top: 15px;
  background-color: lightgray;
}

#DesertGrid {
  display: grid;
  grid-template-rows: 1.5fr 0.5fr 0.5fr;
  grid-template-areas: "one" "two" "three";
  width: 200px;
  border: black;
  border-width: thick;
  border: black;
  /* border-styl; */
}
#DesertGrid:hover .button_Amount {
  visibility: visible;
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 30px;
  grid-area: three;
  text-align: center;
  color: white;
  background-color: black;
  font-size: large;
  font-family: "Poppins", sans-serif;
}
.button_Amount {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 30px;
  visibility: hidden;
  grid-area: three;
  text-align: center;
  color: white;
  background-color: black;
  font-size: large;
  font-family: "Poppins", sans-serif;
}
.DesertName {
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: large;
  color: black;
  text-decoration: solid;
  margin-top: 0px;
  font-family: "Poppins", sans-serif;
}
.incDiv {
  display: flex;
  flex-direction: row;
  width: 200px;
}
.desertTitle {
  grid-area: two;
  justify-content: center;
  display: flex;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.BoxSizeAmount {
  display: flex;
  flex-direction: column-reverse;
}
